*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* utility */

/* classe creata per centrare l'elemento */

.center{
    width:50%;
    margin: auto;
}


/* vari colori utilizzabili */

.white{
    background-color:white;
}

.blue{
    background-color: #47acf0;
}

.purple{
    background-color: #9b71e3;
}

.lightblue{
    background-color: #64bfa8;
}

.orange{
    background-color: #f19d31
}

.pink{
    background-color: #d866a2
}

.lime{
    background-color: #afc825;
}

/* header */

header div{
    margin-left: 20px;
    height: 50px;
}

.nome-logo{
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    vertical-align:top;
}

/* button */


.button{
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    height: 30px;
}

.button-box{
    padding: 20px 40px 20px;
}

.blue-cell{
    color:white;
    background-color: #47acf0;
    border:none;
}

.gray-cell{
    background-color: white;
    color:gray;
    opacity: 0.6;
}

/* main */

.container{
    width:1000px;
}

main div.container{
    margin-top: 20px;
    width:700px;
    background-color: white;
}

hr{
    opacity:0.4;
}

/* TASK */

.done{
    margin-right:5px;
    width:15px;
    height: 15px;
    text-align: center;
    border: 1px solid green;
    border-radius: 50%;
    color:green;
    font-size: 10px;
    font-weight: bold;
}

.not-done{
    margin-right:5px;
    width:15px;
    height: 15px;
    text-align: center;
    border: 1px solid red;
    border-radius: 50%;
    color:red;
    font-size: 10px;
    font-weight: bold;
}

.text{
    font-size: 15px;
}

.tag{
    border-radius: 25px;
    text-align: center;
    font-size:10px;
    line-height: 20px;
    color: white;
    width: 90px;
    height: 20px;
}

.activity{
    padding: 20px 0px 20px 20px;
}

div.task div{
    display:inline-block;
    padding:0;
    margin-top: 10px;
}