*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f6f8f9;
}

/* utility */

.center{
    width:50%;
    margin: auto;
}

.white{
    background-color:white;
}

/* header */

header div{
    margin-left: 20px;
    height: 50px;
}
.nome-logo{
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    vertical-align:top;
}

/* main */

.container{
    width:1000px;
    height: 500px;
}

main div.container{
    margin-top: 20px;
    width:700px;
    height: 800px;
    background-color: white;
}

hr{
    opacity:0.4;
}

/* button */

.button-box{
    padding: 20px 50px 20px;
}

.button{
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 80px;
    height: 30px;
}

.blue-cell{
    color:white;
    background-color: #47acf0;
    border:none;
}

.gray-cell{
    background-color: white;
    color:gray;
    opacity: 0.6;
}